<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">User Management</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/users" (click)="onSelect('usersList')">Users List</a></li>
                <li><a routerLink="/profile" (click)="onSelect('myProfile')">My Profile</a></li>
                <li><a routerLink="/groups" (click)="onSelect('groupsList')">Groups List</a></li>
                <li><a routerLink="/housekeeping" (click)="onSelect('housekeeping')" *ngIf="role === 'admin'">Housekeeping</a></li>
                <li><a routerLink="/" (click)="onSelect('login')" *ngIf="role !== 'admin' && role !== 'user'">Login</a></li>
                <li><a routerLink="/" (click)="onSelect('logout')" *ngIf="role === 'admin' || role === 'user'">Logout</a></li>
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a href="#" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul> -->
        </div>
    </div>
</nav>