<section id="main">
    <!-- <h2>Users List {{users}}</h2> -->
    <form method="GET" role="form" class="form-horizontal" class="col-xs-4">
        <div class="form-group">
            <label for="groupId">Group ID:</label>
            <input id="groupId" class="form-control" type="text" #groupId placeholder="groupId" required>
        </div>
        <br>
        <input class="btn btn-primary" type="button" value="Get Group" (click)="getGroup(groupId.value)"> 
    </form>
    <div class="table-responsive col-xs-12">
            <table class="table table-striped table-hover" *ngIf="group !== undefined">
            <thead>
                <tr>
                    <th>Group ID</th>
                    <th>Group Name</th>
                    <th>Owner ID</th>
                    <th>Users</th>
                    <!-- <th>Email</th> -->
                </tr>
            </thead>
            <!-- <div *ngIf="users"> -->
            <tr>
                <td>{{ group['groupId'] }}</td>
                <td>{{ group['groupName'] }}</td>
                <td>{{ (group['ownerUid'])['username'] }}</td>
                <td><div *ngFor="let gr of group['users']">{{ gr['username'] }}</div></td>
                <!-- <td>{{ user[3] }}</td> -->
            </tr>
        </table>
    </div>
</section>