<section id="main">
    <button class="btn btn-primary" (click)="clicked = 'create'">Create Group</button> 
    <button class="btn btn-primary" (click)="clicked = 'update'">Update Group</button> 
    <button class="btn btn-primary" (click)="clicked = 'delete'">Delete Group</button> | 
    <button class="btn btn-primary" (click)="clicked = 'moveUser'">Move User</button> 
    <button class="btn btn-primary" (click)="clicked = 'addUser'">Add User To Group</button> 
    <button class="btn btn-primary" (click)="clicked = 'removeUser'">Remove User From Group</button> | 
    <button class="btn btn-primary" (click)="clicked = 'createUser'">Create User</button> 
    <button class="btn btn-primary" (click)="clicked = 'updateUser'">Update User</button> 
    <button class="btn btn-primary" (click)="clicked = 'restoreUser'">Restore User</button> 
    <button class="btn btn-primary" (click)="clicked = 'deleteUser'">Delete User</button> 
    <div class="col-xs-8" *ngIf="clicked === 'create'">
        <form method="GET" role="form" class="form-horizontal" class="col-xs-4">
            <div class="form-group">
                <label for="ownerUsername">Owner Username:</label>
                <input id="ownerUsername" class="form-control" type="text" #ownerUsername placeholder="Owner Username"
                    required>
                <label for="groupName">Group Name:</label>
                <input id="groupName" class="form-control" type="text" #groupName placeholder="Group Name" required>
            </div>
            <br>
            <button class="btn btn-primary" type="button"
                (click)="createGroup(ownerUsername.value, groupName.value)">Create</button>
        </form>
    </div>

    <div class="col-xs-8" *ngIf="clicked === 'update'">
        <form method="GET" role="form" class="form-horizontal" class="col-xs-4">
            <div class="form-group">
                <label for="groupId">Group ID:</label>
                <input id="groupId" class="form-control" type="text" #groupId placeholder="Group ID" required>
                <label for="ownerUsername">Owner ID:</label>
                <input id="ownerUsername" class="form-control" type="text" #ownerUsername placeholder="Owner Uid">
                <label for="groupName">Group Name:</label>
                <input id="groupName" class="form-control" type="text" #groupName placeholder="Group Name">
            </div>
            <br>
            <button class="btn btn-primary" type="button"
                (click)="updateGroup(groupId.value, ownerUsername, groupName.value)">Update</button>
        </form>
    </div>

    <div class="col-xs-8" *ngIf="clicked === 'delete'">
        <form method="GET" role="form" class="form-horizontal" class="col-xs-4">
            <div class="form-group">
                <label for="groupId">Group ID:</label>
                <input id="groupId" class="form-control" type="text" #groupId placeholder="Group ID" required>
            </div>
            <br>
            <button class="btn btn-primary" type="button" (click)="deleteGroup(groupId.value)">Delete</button>
        </form>
    </div>

    <div class="col-xs-8" *ngIf="clicked === 'createUser'">
        <form method="GET" role="form" class="form-horizontal" class="col-xs-4">
            <div class="form-group">
                <label for="Username">Username:</label>
                <input id="Username" class="form-control" type="text" #username placeholder="Username" required>
                <label for="firstName">First Name:</label>
                <input id="firstName" class="form-control" type="text" #firstName placeholder="First Name" required>
                <label for="lastName">Last Name:</label>
                <input id="lastName" class="form-control" type="text" #lastName placeholder="Last Name" required>
                <label for="email">Email:</label>
                <input id="email" class="form-control" type="text" #email placeholder="Email" required>
                <label for="password">Password:</label>
                <input id="password" class="form-control" type="text" #password placeholder="Password" required>
                <label for="role">Role:</label>
                <input id="role" class="form-control" type="text" #role placeholder="Role" required>
            </div>
            <br>
            <button class="btn btn-primary" type="button"
                (click)="createUser(username.value, firstName.value, lastName.value, email.value, password.value, role.value)">Create</button>
        </form>
    </div>

    <div class="col-xs-8" *ngIf="clicked === 'updateUser'">
        <form method="GET" role="form" class="form-horizontal" class="col-xs-4">
            <div class="form-group">
                <label for="Username">Username:</label>
                <input id="Username" class="form-control" type="text" #username placeholder="Username" required>
                <hr>
                <label for="firstName">First Name:</label>
                <input id="firstName" class="form-control" type="text" #firstName placeholder="First Name">
                <hr>
                <label for="lastName">Last Name:</label>
                <input id="lastName" class="form-control" type="text" #lastName placeholder="Last Name">
                <hr>
                <label for="email">Email:</label>
                <input id="email" class="form-control" type="text" #email placeholder="Email">
                <hr>
                <label for="password">Current Password:</label>
                <input id="password" class="form-control" type="text" #password placeholder="Password">
                <label for="newPassword">New Password:</label>
                <input id="newPassword" class="form-control" type="text" #newPassword placeholder="New Password">
                <hr>
                <label for="role">Role:</label>
                <input id="role" class="form-control" type="text" #role placeholder="Role">
            </div>
            <br>
            <button class="btn btn-primary" type="button"
                (click)="updateUser(username, firstName, lastName, email, password, newPassword, role)">Update</button>
        </form>
    </div>

    <div class="col-xs-8" *ngIf="clicked === 'moveUser'">
        <form method="GET" role="form" class="form-horizontal" class="col-xs-4">
            <div class="form-group">
                <label for="Username">Username:</label>
                <input id="Username" class="form-control" type="text" #username placeholder="Username" required>
                <label for="oldGroupId">Old Group ID:</label>
                <input id="oldGroupId" class="form-control" type="text" #oldGroupId placeholder="Old Group ID" required>
                <label for="newGroupId">New Group ID:</label>
                <input id="newGroupId" class="form-control" type="text" #newGroupId placeholder="New Group ID" required>
            </div>
            <br>
            <button class="btn btn-primary" type="button"
                (click)="moveUser(username.value, oldGroupId.value, newGroupId.value)">Move</button>
        </form>
    </div>

    <div class="col-xs-8" *ngIf="clicked === 'addUser'">
        <form method="GET" role="form" class="form-horizontal" class="col-xs-4">
            <div class="form-group">
                <label for="Username">Username:</label>
                <input id="Username" class="form-control" type="text" #username placeholder="Username" required>
                <label for="groupId">Group ID:</label>
                <input id="groupId" class="form-control" type="text" #groupId placeholder="Group ID" required>
            </div>
            <br>
            <button class="btn btn-primary" type="button"
                (click)="addUser(username.value, groupId.value)">Add</button>
        </form>
    </div>

    <div class="col-xs-8" *ngIf="clicked === 'removeUser'">
        <form method="GET" role="form" class="form-horizontal" class="col-xs-4">
            <div class="form-group">
                <label for="Username">Username:</label>
                <input id="Username" class="form-control" type="text" #username placeholder="Username" required>
                <label for="groupId">Group ID:</label>
                <input id="groupId" class="form-control" type="text" #groupId placeholder="Group ID" required>
            </div>
            <br>
            <button class="btn btn-primary" type="button"
                (click)="removeUser(username.value, groupId.value)">Remove</button>
        </form>
    </div>

    <div class="col-xs-8" *ngIf="clicked === 'restoreUser'">
        <form method="GET" role="form" class="form-horizontal" class="col-xs-4">
            <div class="form-group">
                <label for="Username">Username:</label>
                <input id="Username" class="form-control" type="text" #username placeholder="Username" required>
            </div>
            <br>
            <button class="btn btn-primary" type="button"
                (click)="restoreUser(username.value)">Restore</button>
        </form>
    </div>

    <div class="col-xs-8" *ngIf="clicked === 'deleteUser'">
        <form method="GET" role="form" class="form-horizontal" class="col-xs-4">
            <div class="form-group">
                <label for="Username">Username:</label>
                <input id="Username" class="form-control" type="text" #username placeholder="Username" required>
            </div>
            <br>
            <button class="btn btn-primary" type="button"
                (click)="deleteUser(username.value)">Delete</button>
        </form>
    </div>

</section>