<div class="container">
    <div class="container row justify-content-center align-items-center" style="height:100vh">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="page-header">
                        <h1>Login</h1>
                    </div>
                    <form action="login.html" method="GET" role="form" class="form-horizontal">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input id="username" class="form-control" type="text" #Username placeholder="Username" required>
                        </div>

                        <div class="form-group">
                            <label for="pass">Password:</label>
                            <input id="pass" class="form-control" type="password" #Password placeholder="Password" required>
                        </div>
                        <br>
                        <input class="btn btn-primary" type="button" value="Login" (click)="getData(Username.value, Password.value)"> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <section id="main">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="page-header">
                            <h1>Login</h1>
                        </div>
                        <form action="login.html" method="GET" role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input id="username" class="form-control" type="text" name="username" placeholder="Username" required>
                            </div>

                            <div class="form-group">
                                <label for="pass">Password:</label>
                                <input id="pass" class="form-control" type="password" name="pass" placeholder="Password" required>
                            </div class="form-group">
                            <br>
                            <input class="btn btn-primary" type="submit" value="Login">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->