<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">{{ userService.user['username'] }}</h2>
                        <hr>
                        <p class="card-text">{{ userService.user['firstName'] }} {{ userService.user['lastName'] }}</p>
                        <p class="card-text">{{ userService.user['email'] }}</p>
                        <p class="card-text">{{ userService.user['role'] }}</p>
                        <button class="btn btn-primary" (click)="clicked = 'updateUser'">Update User</button>
                        <div class="col-xs-8" *ngIf="clicked === 'updateUser'">
                            <form method="GET" role="form" class="form-horizontal" class="col-xs-16">
                                <div class="form-group">
                                    <!-- <label for="Username">Username:</label>
                                    <input id="Username" class="form-control" type="text" #username placeholder="Username" required>
                                    <hr> -->
                                    <label for="firstName">First Name:</label>
                                    <input id="firstName" class="form-control" type="text" #firstName placeholder="First Name">
                                    <hr>
                                    <label for="lastName">Last Name:</label>
                                    <input id="lastName" class="form-control" type="text" #lastName placeholder="Last Name">
                                    <hr>
                                    <label for="email">Email:</label>
                                    <input id="email" class="form-control" type="text" #email placeholder="Email">
                                    <hr>
                                    <label for="password">Current Password:</label>
                                    <input id="password" class="form-control" type="text" #password placeholder="Password">
                                    <label for="newPassword">New Password:</label>
                                    <input id="newPassword" class="form-control" type="text" #newPassword placeholder="New Password">
                                    <hr>
                                    <label for="role">Role:</label>
                                    <input id="role" class="form-control" type="text" #role placeholder="Role">
                                </div>
                                <br>
                                <button class="btn btn-primary" type="button"
                                    (click)="updateUser(firstName, lastName, email, password, newPassword, role)">Update</button>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>