<section id="main">
    <!-- <h2>Users List {{users}}</h2> -->
    <button (click)="getAllUsers()" class="btn btn-primary">Get Data</button>
    <!-- <button (click)="updateUser()" class="btn btn-primary">Update User</button> -->
    <!-- <div *ngIf="role !== 'user' && role !== 'admin'"></div> -->
    <div class="table-responsive" [className]="selectedU ? 'col-xs-8' : 'col-xs-12'" *ngIf="role === 'user'">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <!-- <th>Role</th> -->
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <!-- <div *ngIf="users"> -->
            <tr *ngFor="let user of users" (click)="selectedUser(user)">
                <!-- <td>{{ user[0] }}</td> -->
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
            </tr>
        </table>
    </div>
    <div class="table-responsive" [className]="selectedU ? 'col-xs-8' : 'col-xs-12'" *ngIf="role === 'admin'">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Role</th>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Is Deleted</th>
                </tr>
            </thead>
            <!-- <div *ngIf="users"> -->
            <tr *ngFor="let user of users" (click)="selectedUser(user)">
                <td>{{ user['userId'] }}</td>
                <td>{{ user['role'] }}</td>
                <td>{{ user['username'] }}</td>
                <td>{{ user['firstName'] }}</td>
                <td>{{ user['lastName'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['deleted'] }}</td>
            </tr>
        </table>
    </div>
    <div class="col-xs-4" *ngIf="selectedU && role === 'user'">
        <p>Username: {{ selectedU[0] }}</p>
        <p>First Name: {{ selectedU[1] }}</p>
        <p>Last Name: {{ selectedU[2] }}</p>
        <p>Email: {{ selectedU[3] }}</p>
    </div>

    <div class="col-xs-4" *ngIf="selectedU && role === 'admin'">
        <p>Username: {{ selectedU['username'] }}</p>
        <p>First Name: {{ selectedU['firstName'] }}</p>
        <p>Last Name: {{ selectedU['lastName'] }}</p>
        <p>Email: {{ selectedU['email'] }}</p>
    </div>
</section>